@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.main-container {
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure it takes the full height */
}

